<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-room-modal">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="roomsTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Creted By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% rooms.forEach((room, index)=> { %>
            <tr>
              <td>
                <%= index +=1 %>
              </td>
              <td>
                <%= room.name %>
              </td>
              <td>
                <%= room.user.email %>
              </td>
              <td>
                <form 
                    action="/admin/rooms/<%= room.uuid %>?_method=DELETE"
                    method="POST"
                    class="d-flex justify-content-center"
                >
                  <a 
                    class="btn-sm btn-warning btn-circle btn-room-update mr-2" 
                    type="button"
                    href="javascript:void()"
                    data-uuid="<%= room.uuid %>"
                    data-name="<%= room.name %>"
                    data-created_by="<%= room.user.uuid %>"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <button type="submit" class="btn-sm btn-danger btn-circle">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>