<!--Modal -->
<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/rooms?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control name" id="name" name="name"
              placeholder="Enter room name" required>
          </div>
          <div class="form-group">
            <label for="created_by">Created by</label>
            <select class="form-control created_by" name="created_by" id="created_by">
              <option value="">Select user</option>
              <% users.forEach( (user) => { %>
                <option value="<%= user.uuid %>">
                  <%= user.email %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="uuid" name="uuid" id="uuid">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>