<%- include('../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../partials/topbar.ejs') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../partials/alert.ejs') %>

              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Room</h1>
              </div>

              <%- include('table-room.ejs') %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Include modal -->
  <%- include('add-room-modal') %>
  <%- include('update-room-modal') %>

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top-button.ejs') %>

  <%- include('../partials/js.ejs') %>

  <script>
    $('#roomsTable').on('click', '.btn-room-update', function() {
      const uuid = $(this).data('uuid');
      const name = $(this).data('name');
      const createdBy = $(this).data('created_by');

      $('#update-modal').modal('show');

      $('.uuid').val(uuid);
      $('.name').val(name);
      $('.created_by').val(createdBy);
    })
  </script>

</body>

</html>