<!--Modal -->
<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update User Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/matches?_method=PUT" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="player1">Player 1</label>
                        <select class="form-control player1" name="player1" id="player1">
                            <option value="">Select player</option>
                            <% users.forEach( (user) => { %>
                                <option value="<%= user.uuid %>">
                                    <%= user.email %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="player2">Player 2</label>
                        <select class="form-control player2" name="player2" id="player2">
                            <option value="">Select player</option>
                            <% users.forEach( (user) => { %>
                                <option value="<%= user.uuid %>">
                                    <%= user.email %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="player1Hand">Player 1 Hand</label>
                        <select class="form-control player1Hand" name="player1Hand" id="player1Hand">
                            <option value="">Select hand</option>
                            <% hands.forEach( (hand) => { %>
                                <option value="<%= hand %>">
                                    <%= hand %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="player2Hand">Player 2 Hand</label>
                        <select class="form-control player2Hand" name="player2Hand" id="player2Hand">
                            <option value="">Select hand</option>
                            <% hands.forEach( (hand) => { %>
                                <option value="<%= hand %>">
                                    <%= hand %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="result">Result</label>
                        <select class="form-control result" name="result" id="result">
                            <option value="">Select result</option>
                            <% results.forEach( (result) => { %>
                                <option value="<%= result %>">
                                    <%= result %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="room">Room</label>
                        <select class="form-control room" name="room" id="room">
                            <option value="">Select room</option>
                            <% rooms.forEach( (room) => { %>
                                <option value="<%= room.uuid %>">
                                    <%= room.name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" class="uuid" name="uuid" id="uuid">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>