<%- include('../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../partials/topbar.ejs') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../partials/alert.ejs') %>

              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Match</h1>
              </div>

              <%- include('table-match.ejs') %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Include modal -->
  <%- include('add-match-modal') %>
  <%- include('update-match-modal') %>

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top-button.ejs') %>

  <%- include('../partials/js.ejs') %>

  <script>
    $('#matchesTable').on('click', '.btn-match-update', function() {
      const uuid = $(this).data('uuid');
      const player1 = $(this).data('player_1');
      const player2 = $(this).data('player_2');
      const player1Hand = $(this).data('player_1_hand');
      const player2Hand = $(this).data('player_2_hand');
      const result = $(this).data('result');

      $('#update-modal').modal('show');

      $('.uuid').val(uuid);
      $('.player1').val(player1);
      $('.player2').val(player2);
      $('.player1Hand').val(player1Hand);
      $('.player2Hand').val(player2Hand);
      $('.result').val(result);
    })
  </script>

</body>

</html>