<!--Modal -->
<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/users?_method=PUT" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control email" id="email" name="email" placeholder="Enter user email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control password" id="password" name="password"
                            placeholder="Enter user password" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select class="form-control role" name="role" id="role">
                            <option value="">Select user role</option>
                            <% roles.forEach((role)=> { %>
                                <option value="<%= role %>">
                                    <%= role %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" class="uuid" name="uuid">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>