<%- include('../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../partials/topbar.ejs') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../partials/alert.ejs') %>

              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Users</h1>
              </div>

              <%- include('table-user.ejs') %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Include modal -->
  <%- include('add-user-modal.ejs') %>
  <%- include('update-user-modal.ejs') %>

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top-button.ejs') %>

  <%- include('../partials/js.ejs') %>

  <script>
    $('#usersTable').on('click', '.btn-user-update', function() {
      const uuid = $(this).data('uuid');
      const email = $(this).data('email');
      const password = $(this).data('password');
      const role = $(this).data('role');
      
      $('#update-modal').modal('show');

      $('.uuid').val(uuid);
      $('.email').val(email);
      $('.password').val(password);
      $('.role').val(role);
    })
  </script>

</body>

</html>