<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="/sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user" action="/admin/auth/login" method="POST">
                    <div class="form-group">
                      <input 
                        type="email" 
                        class="form-control form-control-user" 
                        id="exampleInputEmail" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter Email Address..."
                        name="email"
                        required
                        value=<%= defaultAdmin.email %>
                      >
                    </div>
                    <div class="form-group">
                      <input 
                        type="password" 
                        class="form-control form-control-user" 
                        id="exampleInputPassword" 
                        placeholder="Password"
                        name="password"
                        required
                        value=<%= defaultAdmin.password %>
                      >
                    </div>
                    <button 
                        type="submit" 
                        href="/sb-admin-2/index.html" 
                        class="btn btn-primary btn-user btn-block"
                    >
                      Login
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Javscript -->
  <%- include('../partials/js.ejs') %>

</body>

</html>
