<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-user-profile-modal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="userProfilesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Full Name</th>
                        <th>Job</th>
                        <th>Bio</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% userProfiles.forEach((userProfile, index)=> { %>
                        <tr>
                            <td>
                                <%= index +=1 %>
                            </td>
                            <td>
                                <%= userProfile.full_name %>
                            </td>
                            <td>
                                <%= userProfile.job %>
                            </td>
                            <td>
                                <%= userProfile.bio %>
                            </td>
                            <% if (userProfile.user) { %>
                                <td><%= userProfile.user.email %></td>
                            <% } else { %>
                                <td> - </td>
                            <% } %>
                            <td>
                                <form 
                                    action="/admin/user-profiles/<%= userProfile.uuid %>?_method=DELETE"
                                    method="POST"
                                    class="d-flex justify-content-center"
                                >
                                    <a 
                                        class="btn-sm btn-warning btn-circle btn-user-profile-update mr-2" 
                                        type="button"
                                        href="javascript:void()"
                                        data-uuid="<%= userProfile.uuid %>"
                                        data-full_name="<%= userProfile.full_name %>"
                                        data-job="<%= userProfile.job %>"
                                        data-bio="<%= userProfile.bio %>"
                                        data-user_id="<%= userProfile.user_id %>"
                                        data-email="<%= userProfile.user.email %>"
                                    >
                                            <i class="fas fa-edit"></i>
                                    </a>
                                    <button type="submit" class="btn-sm btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>