<%- include('../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../partials/topbar.ejs') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../partials/alert.ejs') %>

              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">User Profile</h1>
              </div>

              <%- include('table-user-profile.ejs') %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Include modal -->
  <%- include('add-user-profile-modal.ejs') %>
  <%- include('update-user-profile-modal.ejs') %>

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top-button.ejs') %>

  <%- include('../partials/js.ejs') %>

  <script>
    $('#userProfilesTable').on('click', '.btn-user-profile-update', function() {
      const uuid = $(this).data('uuid');
      const fullName = $(this).data('full_name');
      const job = $(this).data('job');
      const bio = $(this).data('bio');
      const userId = $(this).data('user_id');
      const userEmail = $(this).data('email');
      console.log(userEmail)
      $('#update-modal').modal('show');

      $('.uuid').val(uuid);
      $('.fullName').val(fullName);
      $('.job').val(job);
      $('.bio').val(bio);
      $('.userId').val(userId);
      $('.userEmail').val(userId);
      $('.userEmail').html(userEmail);
    })
  </script>

</body>

</html>