<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <link href="css/home.css" type="text/css" rel="stylesheet" >

    <title>Binar Challenge</title>
  </head>
  <body>
    <!-- main section -->
    <section class="main" id="main">
      <!-- navigation start -->
      <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar text-uppercase">
        <div class="container">
    
          <!-- Brand -->
          <a class="navbar-brand mr-lg-5" href="#">
            <img src="images/games/logo-rock-papper-scissors.png" alt="logo games" class="logo">
          </a>
    
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMain" aria-controls="navbarNavMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarNavMain">
            <ul class="navbar-nav left ml-lg-5">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Me</a>
              </li>
            </ul>
  
            <ul class="navbar-nav right ml-lg-auto">
              <% if(user) { %>
                <form action="/logout" method="get">
                  <li class="nav-item">
                    <button type="submit" class="nav-link btn-logout">Log Out</button>
                  </li>
                </form> 
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
                </li>
              <% } %>
            </ul>
  
          </div>
    
        </div>
      </nav>
      <!-- navigation end -->
  
      <!-- main start -->
      <main class="d-flex justify-content-center align-items-center flex-column text-center">
        <h1 class="text-uppercase mb-5">play traditional game</h1>
        <h3 class="mb-5">Experience new traditional game play</h3>
        <!-- <button class="btn text-uppercase btn-lg btn-cta" >play now</button> -->
        <a href="/games" class="btn text-uppercase btn-lg btn-cta">trial</a>
      </main>
      <!-- main end -->
  
      <footer class="d-flex flex-column align-items-center mb-3">
        <p class="text-uppercase m-0">the story</p>
        <span class="icon-scrolldown"><img src="images/home/scrolldown.svg" alt="scrolldown" /></span>
      </footer>
    </section>
    <!-- end main section -->

    <!-- about section -->
    <section class="about d-flex flex-column justify-content-center" id="about">
      <div class="container ">
        <div class="row ">
          <div class="col-lg-12 ">
            <h3 class="h3 question">What's so special?</h3>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-4 pr-0">
            <h1 class="h1 text-uppercase title">the games</h1>
          </div>
          <div class="col-lg-8">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="row">
                <!-- <div class="col-1 d-flex align-items-center justify-content-center p-0"> -->
                  <a class="d-flex align-items-center justify-content-center" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                <!-- </div> -->
                <div class="col-10 p-0">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  
                  <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="images/home/rockpaperstrategy-1600.jpg" alt="First slide">
                    </div>
                    
                    <div class="carousel-item">
                      <img class="d-block w-100" src="images/home/rockpaperstrategy-1600.jpg" alt="Second slide">
                    </div>
                    
                    <div class="carousel-item">
                      <img class="d-block w-100" src="images/home/rockpaperstrategy-1600.jpg" alt="Third slide">
                    </div>
                    
                  </div>

                </div>
                <!-- <div class="col-1 d-flex align-items-center justify-content-center p-0"> -->
                  <a class="d-flex align-items-center justify-content-center" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                <!-- </div> -->
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->

    <!-- feature section -->
    <section class="feature" id="feature">
      <div class="row p-0 m-0">
          <div class="col-md-6 m-0 p-0 left">
              
          </div>
          <!-- <div class="col-6 m-0 p-0 pl-5 d-flex align-items-start justify-content-center flex-column right"> -->
          <div class="col-md-6 m-0 p-0">
              <div class="row p-0 m-0 right">
                  <div class="row p-0 m-0">
                      <div class="col-12">
                          <h4>What's so special?</h4>
                          <h1 class="text-uppercase display-4">features</h1>
                      </div>
                  </div>
                  
                  <div class="row p-0 m-0">
                      <div class="col-md-2 progress-feature">
                          <div class="bullet-fill mt-2"></div>
                          <div class="progress-bar"></div>
                          <div class="bullet-border"></div>
                          <div class="progress-empty"></div>
                          <div class="bullet-border"></div>
                      </div>
                      <div class="col-lg-7 col-md-10 pl-md-0 text-feature">
                          <h4 class="sub-title text-uppercase m-0">Traditional Games</h4>
                          <p class="paragraph mb-5">
                              If you miss your childhood, we provide
                              many traditional game here
                          </p>
                          <h4 class="sub-title text-uppercase mb-5">Game Suit</h4>
                          <h4 class="sub-title text-uppercase">TBD</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- end feature section -->

    <!-- system section -->
    <section class="d-flex flex-column justify-content-center system" id="system">
      <div class="container">
          <div class="row p-0 m-0 requirement-text">
              <div class="col-md-auto">
                  <h1 class="text-uppercase title">system</h1>
              </div>
              <div class="col-md-7">
                  <p class="text-lg-center mt-2 question">Can My Computer Run this game?</p>
              </div>
          </div>
  
          <div class="row p-0 m-0">
              <div class="col-md-auto">
                  <h1 class="text-uppercase title">requirements</h1>
              </div>
          </div>

          <div class="row p-0 m-0 requirement-table">
              <div class="col-md-6">
                  <table>
                      <tbody>
                          <tr>
                              <td class="p-md-3">
                                  <h4>OS:</h4>
                                  <p class="m-0">
                                      Windows 7 64-bit only
                                      (No OSX support at this time)
                                  </p>
                              </td>
                              <td class="p-md-3">
                                  <h4>PROCESSOR:</h4>
                                  <p class="m-0">
                                      Intel Core 2 Duo @ 2.4 GHZ or 
                                      AMD Athlon X2 @ 2.8 GHZ
                                  </p>
                              </td>
                          </tr>
                          <tr>
                              <td class="p-md-3">
                                  <h4>MEMORY:</h4>
                                  <p class="m-0">
                                      4 GB RAM
                                  </p>
                              </td>
                              <td class="p-md-3">
                                  <h4>STORAGE:</h4>
                                  <p class="m-0">
                                      8 GB available space
                                  </p>
                              </td>
                          </tr>
                          <tr>
                              <td colspan="2" class="p-md-3">
                                  <h4>GRAPHICS:</h4>
                                  <p class="m-0">
                                      NVIDIA GeForce GTX 660 2GB or 
                                      AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                  </p>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </section>
    <!-- end system section -->

    <!-- top-score section -->
    <section class="top-score" id="top-score">
      <div class="container">
          <div class="row p-0 m-0">
              <div class="col-md-6 left d-md-flex flex-column justify-content-center">
                  <h1 class="text-uppercase title">top scores</h1>
                  <p class="mb-md-5 message">This top score from various games provided on this platform</p>
                  <button class="btn btn-lg btn-yellow w-md-50" >see more</button>
              </div>
              <div class="col-md-6 right d-md-flex flex-column justify-content-center">
  
                  <!-- first row -->
                  <div class="row p-0 m-0 justify-content-lg-end my-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="row p-0 m-0">
                                  <div class="col-3 pr-0">
                                      <img 
                                          src="images/home/ellipse-yellow.png" 
                                          alt="ellipse" 
                                          class="img-bg-yellow position-absolute img-fluid"
                                      >
                                      <img 
                                          src="images/home/evan-lahti.jpg" 
                                          alt="Evan Lahti" 
                                          class="img rounded-circle position-absolute img-fluid"
                                      >
                                  </div>
                                  <div class="col-8 pl-0">
                                      <h4 class="name m-0">Evan Lahti</h4>
                                      <p class="job m-0">PC Gamer</p>
                                  </div>
                                  <div class="col-1 pl-0">
                                      <img src="images/home/twitter.svg" alt="twitter">
                                  </div>
                              </div>
                              <div class="row p-0 m-0">
                                  <div class="col-12">
                                      <p class="quotes m-0 mt-3">“One of my gaming highlights of the year.”</p>
                                      <p class="date m-0 mt-1">October 18, 2018</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end first row -->
  
                  <!-- second row -->
                  <div class="row p-0 m-0 justify-content-start my-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="row p-0 m-0">
                                  <div class="col-3 pr-0">
                                      <img 
                                          src="images/home/ellipse-yellow.png" 
                                          alt="ellipse" 
                                          class="img-bg-yellow position-absolute img-fluid"
                                      >
                                      <img 
                                          src="images/home/jada-griffin.jpg" 
                                          alt="Jada Griffin" 
                                          class="img rounded-circle position-absolute img-fluid"
                                      >
                                  </div>
                                  <div class="col-8 pl-0">
                                      <h4 class="name m-0">Jada Griffin</h4>
                                      <p class="job m-0">Nerdreactor</p>
                                  </div>
                                  <div class="col-1 pl-0">
                                      <img src="images/home/twitter.svg" alt="twitter">
                                  </div>
                              </div>
                              <div class="row p-0 m-0">
                                  <div class="col-12">
                                      <p class="quotes m-0 mt-3">
                                          “The next big thing in the world of streaming and survival games.”
                                      </p>
                                      <p class="date m-0 mt-1">December 21, 2018</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end second row -->
  
                  <!-- third row -->
                  <div class="row p-0 m-0 justify-content-center my-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="row p-0 m-0">
                                  <div class="col-3 pr-0">
                                      <img 
                                          src="images/home/ellipse-yellow.png" 
                                          alt="ellipse" 
                                          class="img-bg-yellow position-absolute img-fluid"
                                      >
                                      <img 
                                          src="images/home/aaron-williams.jpg" 
                                          alt="Aaron Williams " 
                                          class="img rounded-circle position-absolute img-fluid"
                                      >
                                  </div>
                                  <div class="col-8 pl-0">
                                      <h4 class="name m-0">Aaron Williams </h4>
                                      <p class="job m-0">Uproxx</p>
                                  </div>
                                  <div class="col-1 pl-0">
                                      <img src="images/home/twitter.svg" alt="twitter">
                                  </div>
                              </div>
                              <div class="row p-0 m-0">
                                  <div class="col-12">
                                      <p class="quotes m-0 mt-3">
                                          “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
                                      </p>
                                      <p class="date m-0 mt-1">December 24, 2018</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end third row -->
  
              </div>
          </div>
      </div>
    </section>
    <!-- end top-score section -->

    <!-- subscribe section -->
    <section class="subscribe-wrapper d-flex flex-column justify-content-between" id="subscribe">
        
      <!-- main content -->
      <div class="container mt-5">
          <div class="row m-0 p-0">
              <div class="col-lg-6 text-center img-subscribe-wrapper left">
              </div>
              <div class="col-lg-6 right">
                  <h4 class="question">Want to stay in touch?</h4>
                  <h1 class="title">Newsletter Subscribe</h1>
                  <p class="paragraph">
                      In order to start receiving our news, all you have to do is enter your email 
                      address. Everything else will be taken care of by us. We will send you emails 
                      containing information about game. We don’t spam.
                  </p>
                  <form>
                      <div class="row mt-md-5">
                          <div class="col-md-7">
                              <div class="form-group">
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">
                              </div>
                          </div>
                          <div class="col-md-5 pl-md-0">
                              <button type="submit" class="btn btn-md btn-subscribe w-md-75">Subscribe now</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <!-- end main content -->
  
      <footer>
          <!-- navigation -->
          <div class="container nav-footer">
              <div class="left"></div>
              <div class="right">
                  <ul class="nav-footer-wrapper d-lg-flex justify-content-lg-between text-uppercase mb-2">
                      <li class="nav-footer-item"><a href="#main">Main</span></a></li>
                      <li class="nav-footer-item"><a href="#about">About</a></li>
                      <li class="nav-footer-item"><a href="#feature">Game Features</a></li>
                      <li class="nav-footer-item"><a href="#system">System Requirements</a></li>
                      <li class="nav-footer-item"><a href="#top-score">Quotes</a></li>
                      <li class="nav-footer-item">
                        <a href="#">
                            <img src="images/home/facebook.svg" alt="">
                        </a>
                      </li>
                      <li class="nav-footer-item">
                        <a href="#">
                            <img src="images/home/twitter.svg" alt="">
                        </a>
                      </li>
                      <li class="nav-footer-item">
                        <a href="#">
                            <img src="images/home/Vector.svg" alt="">
                        </a>
                      </li>
                      <li class="nav-footer-item">
                        <a href="#">
                            <img src="images/home/twitch.svg" alt="">
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- end navigation -->
      
          <!-- footer -->
          <div class="footer px-0 py-2">
              <div class="container">
                  <div class="row m-0 p-0 d-md-flex flex-md-row justify-content-md-between rights-terms-wrapper">
                      <p class="rights"> © 2018 Your Games, Inc. All Rights Reserved</p>
                      <p class="terms">Privacy Policy | Terms of Services | Code of Conduct </p>
                  </div>
              </div>

          </div>
          <!-- end footer -->
      </footer>
    </section>
    <!-- end subscribe section -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
